# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
target
reggie.log
reggie-common/src/test/
reggie-common/src/test/resources/
reggie-common/src/main/resources/
reggie-domain/src/main/resources/
reggie-domain/src/test/
reggie-mapper/src/test/
reggie-service/src/main/resources/
reggie-service/src/test/
reggie-web-manage/src/test
