<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.juct.reggie.mapper.DishFlavorMapper">

    <insert id="addDishFlavorMapper">
        insert into dish_flavor(
            id,
            dish_id,
            name,
            value,
            create_user,
            update_user
        )
        values(
            #{id},
            #{dishId},
            #{name},
            #{value},
            #{createUser},
            #{updateUser}
        )
    </insert>
</mapper>